@font-face {
	font-family: 'Graphik Wide Web';
	src: url('GraphikWide-Medium-Web.woff2') format('woff2'),
		 url('GraphikWide-Medium-Web.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	}

.GraphikWide-Medium-Web {
	font-family: 'Graphik Wide Web';
	font-weight: 500;
	font-style: normal;
	}
