@font-face {
	font-family: 'Graphik Wide Web';
	src: url('GraphikWide-Semibold-Web.woff2') format('woff2'),
		 url('GraphikWide-Semibold-Web.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	}

.GraphikWide-Semibold-Web {
	font-family: 'Graphik Wide Web';
	font-weight: 600;
	font-style: normal;
	}
