@font-face {
	font-family: 'Graphik Wide Web';
	src: url('GraphikWide-SuperItalic-Web.woff2') format('woff2'),
		 url('GraphikWide-SuperItalic-Web.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	}

.GraphikWide-SuperItalic-Web {
	font-family: 'Graphik Wide Web';
	font-weight: 900;
	font-style: italic;
	}
