@font-face {
	font-family: 'Graphik Wide Web';
	src: url('GraphikWide-LightItalic-Web.woff2') format('woff2'),
		 url('GraphikWide-LightItalic-Web.woff') format('woff');
	font-weight: 300;
	font-style: italic;
	}

.GraphikWide-LightItalic-Web {
	font-family: 'Graphik Wide Web';
	font-weight: 300;
	font-style: italic;
	}
