@font-face {
	font-family: 'Graphik Wide Web';
	src: url('GraphikWide-ThinItalic-Web.woff2') format('woff2'),
		 url('GraphikWide-ThinItalic-Web.woff') format('woff');
	font-weight: 100;
	font-style: italic;
	}

.GraphikWide-ThinItalic-Web {
	font-family: 'Graphik Wide Web';
	font-weight: 100;
	font-style: italic;
	}
